services:
  nginx:
    image: nginx:latest
    container_name: vestascenes-nginx
    labels:
      logging: "vestascenes-nginx"
      logging_jobname: "containerlogs"
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
      - frontend

  api:
    image: jakez/vestascenes-api:latest
    container_name: vestascenes-api
    labels:
      logging: "vestascenes-api"
      logging_jobname: "containerlogs"
    environment:
      # required to directly print() towards stdout - activates flush always
      PYTHONUNBUFFERED: 1
    # flask requires SIGINT to stop gracefully
    # (default stop signal from Compose is SIGTERM)
    stop_signal: SIGINT
    expose:
      - 80
    volumes:
#      - ./database:/database
      - /volumeUSB1/usbshare/vestaboard-database:/database
      - ./config:/config

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    container_name: vestascenes-frontend
    labels:
      logging: "vestascenes-frontend"
      logging_jobname: "containerlogs"
    expose:
      - 80

networks:
  default:
    driver: bridge