# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask~=3.0.3
gunicorn==21.2.0

requests~=2.31.0
Vestaboard~=1.2.4