:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  overflow-x: hidden;
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (max-width: 699px) {
  .board-list {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 700px) {
  main {
    align-items: center;
  }

  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .board-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .board-container {
    width: 535px;
    padding: 16px 32px;
    border-radius: 8px;
  }
}

@media (prefers-color-scheme: light) {
  .MuiTabs-root button {
    background-color: #fafafa;
    color: #0f0f0f !important;
    color-scheme: light;
  }

  .MuiTabs-root .MuiTabs-indicator {
    background-color: #0f0f0f !important;
  }

  .MuiLinearProgress-root {
    background-color: #0f0f0f !important;
  }

  .board-editor {
    background-color: #111;
  }

  :root {
    --background: #fafafa;
    --foreground: #0f0f0f;
  }
}
